nav a {
    font-family: 'Poppins', sans-serif;
}

.categories {
    color: black;
    font-size: 19px;  
    font-weight: bold;
    padding: 8px;
    margin: 16px 0;
    text-align: left;
    border-radius: 16px;
}

.categories:hover {
    color: #38C172;
    background: rgba(56,193,114, 0.2)
}

.articles .article {
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.articles .article:first-child {
    border-top: none;
}

.fa-edit, .fa-trash-alt {
    color: #333;
}

.fa-edit:hover, .fa-trash-alt:hover {
    color: #38C172!important;
}

.profile {
    margin-top: 69px;
    text-align: center;
}

.user_image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 auto;
}

.pagination {
    justify-content: center;
}
